@import "../../styles/variables";

.main-container {
  max-width: 60%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: justify;
  text-decoration: auto;
  text-align: left;
  text-transform: uppercase;
  margin: 20px;
}

.main-header {
  display: block;
  padding: 20px;
}
