* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: medium;
}

.h1-title {
  color: blueviolet;
  border: 2px solid blueviolet;
  padding: 2px 10px;
  font-size: large;
}
.container {
  background-color: antiquewhite;
  margin: 0 auto;
  max-width: 1600px;
  height: 50px;
  padding-left: 10%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex ul {
  display: flex;
  margin: 0 10px;
}

a {
  text-decoration: none;
  font-size: small;
}

.flex a {
  padding: 10px 16px;
  color: blueviolet;
}

a:hover {
  border-bottom: 2px solid blueviolet;
}

ul {
  list-style: none;
}
